.wallet-loader {
    @apply p-4 bg-zinc-900 rounded-lg mb-4;
  }
  
  .wallet-title {
    @apply text-lg font-semibold text-white mb-2;
  }
  
  .wallet-textarea {
    @apply w-full p-2 rounded bg-zinc-800 text-sm text-white;
  }
  
  .wallet-button {
    @apply mt-2 bg-blue-600 hover:bg-blue-700 text-white px-4 py-1 rounded;
  }
  
  .wallet-success {
    @apply text-green-400 mt-2 text-sm;
  }
  
  .wallet-error {
    @apply text-red-400 mt-2 text-sm;
  }

  .selected-wallet {
    color: #22c55e;
    font-weight: bold;
  }

  .wallet-item.dragging {
    @apply bg-zinc-800 border border-zinc-600 shadow-md;
  }
  
  /* Default wallet appearance */
  .wallet-key {
    @apply text-white transition-colors duration-200;
  }
  
  /* Green and bold for selected wallets */
  .wallet-key-checkbox input:checked + .wallet-key,
  .selected-wallet {
    @apply text-green-400 font-semibold;
  }
  
  .wallet-item {
    @apply px-3 py-2 mb-1 rounded bg-zinc-800 text-sm justify-between flex items-center;
  }
  
  .wallet-drag-handle {
    @apply cursor-grab text-gray-400 hover:text-white select-none;
    font-size: 1.25rem;
  }
  
  .wallet-balance {
    @apply ml-2 text-yellow-300;
  }

  .selected-wallet-info {
    font-size: 0.78rem; /* Tailwind's text-sm */
    color: #f1f1f1; /* white-300 */
    margin-top: 0rem;
    margin-bottom: .5rem; /* added bottom space from Start button */
    font-family: monospace;
  }
  
  .selected-wallet-info strong {
    font-family: monospace;
  }